.options{
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
}

.options__new-item-button, .options__loader{
    height:55px;
}

.items{
    margin-top:40px;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}

.items__card{
    width: 350px;
    cursor:pointer;
}

.items__card__star{
    float:left;
    margin:3px 0 0 0;
}